extends layout.pug
block content
	- let keys = Object.keys(quiz.questions);
	h3.clock Time: 0:00
	.row.mt-3
		.col-6.offset-3
			.row#grade-row.d-none
				.col-12
					h1#grade
					h1#score.text-center
			.row
				.col-12
					- let idx = 0;
					while idx < count
						- let key = keys[idx];
						- let question = quiz.questions[key];
						div(data-question=question.question).question-div
							label.float-right !{question.score} Points
							label.question !{`<b>${idx+1}.</b>`} !{question.question}
							div.form-check.ml-5.mb-5
								if question.options === 'input'
									input(placeholder='Type your answer')
								else
									each option, optionIdx in question.options
										input(type='radio' name=`question-${idx}` value=option.key id=`question-${idx}-${optionIdx}`).form-check-input
										label(for=`question-${idx}-${optionIdx}`).form-check-label !{option.key} !{option.value}
										br
						- idx++
			.row
				.col-12.padding-fix.my-3
					button(type='button')#grade-quiz-btn.btn.btn-secondary.btn-lg.btn-block Grade Quiz
					button(type='button')#retake-quiz-btn.btn.btn-secondary.btn-lg.btn-block.d-none Retake Quiz
	script.
		let quiz = JSON.parse(`!{JSON.stringify(quiz)}`);
